# SETS

Sets->Represented with {}
Sets->Numeric, Character, Both numeric and character

Types of sets:
--------------------
Normal sets -Mutable
Frozen sets -Immutable

Sets -> Automatically removes duplicates 
Sets -> Automatically Sort in assending order

Sets -> 
Union -> Symbol(|) AUB -> All the records from set A and Set B
Intersection -> Symbol(&) -> Common records from set A and Set B
Diff -> symbol(-)  A-B Only records which are not common in A
B-A Only records which are not common in B
Symmetric diff -> symbol(^)
A^B Only records which are not common in A and B

Sets -> Functions 

Isdisjoint()
Issuperset()
Issubset()

In [1]:
a={}
print(type(a))

b=()
print(type(b))

b=[]
print(type(b))

b=set()
print(type(b))

s1={1,2,3,5,4,1,6}
print(type(s1))
print(s1)

<class 'dict'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'set'>
{1, 2, 3, 4, 5, 6}

In [2]:
s2 = {"Chakra", "Python", "Java"}
print(s2)
s3 = {True, False, False}
s4 = {"Chakra", 24, True, 60, "male"}
print(type(s4))
print(s4)

{'Chakra', 'Java', 'Python'}
<class 'set'>
{True, 'Chakra', 'male', 24, 60}

In [5]:
s1={1,2,3,5,4,1,6}
s1.add(4)
s1.add(7)
s1

{1, 2, 3, 4, 5, 6, 7}

Remove:
------------
remove() the element from the set only if the element is present in the set 
If the element is not present in the set, then an error or exception is raised
Discard:
-----------
discard() method does but If the element is not present in the set,

In [1]:
s1={1,2,3,5,4,1,6}
s1.remove(6)
print(s1)

s1.remove(5)
print(s1)

s1.remove(5)
print(s1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

KeyError: 5

In [3]:
s1={1,2,3,5,4,1,6}
s1.discard(6)
print(s1)

{1, 2, 3, 4, 5}

In [4]:
s1.discard(6)
print(s1)

{1, 2, 3, 4, 5}

In [7]:
s2=frozenset({6,7,8,9,5,6})
print(s2)
type(s2)

frozenset({5, 6, 7, 8, 9})

frozenset

In [8]:
s2.add(1)
s2

AttributeError: 'frozenset' object has no attribute 'add'

In [7]:
s1={"hello World","hello King"}
print(s1)
s1={"hello World","hello king"}
print(s1)
s1={"hello world","hello king"}
print(s1)
s1={"abc","ABC"}
print(s1)

{'hello King', 'hello World'}
{'hello World', 'hello king'}
{'hello world', 'hello king'}
{'abc', 'ABC'}

In [9]:
s1={"hello world","hello King"}
print(s1)
print(s1.pop())


s2={"ab","cd","ef","gh"}
print(s2.pop())
print(s2)

s3={"A","B","C"}
print(s3.pop())
print(s3)

s4={"a","b","c"}
print(s4.pop())
print(s4)

s5=['a','b','c']
print(s5.pop())
print(s5)
print(s5.pop())
print(s5)

hello King
{'hello world'}
ef
{'cd', 'gh', 'ab'}
B
{'A', 'C'}
b
{'c', 'a'}
c
['a', 'b']
b
['a']

In [11]:
s6={1,2,3,1,2,4,5}
print(s6.pop())
print(s6)
print(s6.pop())
print(s6)

1
{2, 3, 4, 5}
2
{3, 4, 5}

In [11]:
s1={1,2,3,4,5}
s1.update({6,7,8})
print(s1)

# add list and set
s1={1,2,3,4}
s1.update([4,5],[1,6,8])
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 8}

In [39]:
#clear
s1={1,2,3,4,5}
s1.clear()
s1

set()

In [33]:
s1={1,2,3,4,5,7}
s2={4,5,6,7,8,9}

#union
s1.union(s2)  #s2.union(s1)
s1 | s2
s3=s1.union(s2)
s3

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
#intersection
s1={1,2,3,4,5}
s2={4,5,6,7,8,9}

s1 & s2
s1.intersection(s2)
s3=s1.intersection(s2)
s3

{4, 5}

In [36]:
# difference
s1={1,2,3,4,5}
s2={4,5,6,7,8,9}

s1.difference(s2)
s3=s1.difference(s2)
s3=s1-s2
s4=s2-s1
print(s3)
print(s4)

{1, 2, 3}
{8, 9, 6, 7}

In [9]:
s1={1,2,3}
s2={2,3,4}
s3={3,4,5}
s4=s1.difference(s2)
s5=s2.difference(s1)
s6=s1.difference(s2,s3)
s7=s2.difference(s1,s3)
print(s4)
print(s5)
print(s6)
print(s7)

{1}
{4}
{1}
set()

In [12]:
s1={1,2,3}
s2={2,3,4}
s3={3,4,5}
s9=s3.difference(s1,s2)
print(s9)

{5}

In [38]:
s1={1,2,3}
s2={2,3,4}
s3={3,4,5}
#s4=s1.symmetric_difference(s2,s3)
s4=s1.symmetric_difference(s2)
s4=s1 ^ s2 
print(s4)

{1, 4}

In [40]:
s1={1}
s2={2}
s1>s2

False

In [42]:
#Isdisjoint - Determines whether or not two sets have any elements in common.
#x1.isdisjoint(x2) returns True if x1 and x2 have no elements in common:

x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
x1.isdisjoint(x2)

False

In [13]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}
x1.isdisjoint(x2)

False

In [44]:
x1 = {'foo', 'bar', 'bai'}
x2 = {'baz', 'qux', 'quux'}
x1.isdisjoint(x2)

True

In [45]:
x1 = {1, 3, 5}
x2 = {2, 4, 6}

x1.isdisjoint(x2)

True

In [46]:
#x1.issubset(x2) and x1 <= x2 return True 
#if x1 is a subset of x2:

x1 = {'foo', 'bar', 'baz'}
x1.issubset({'foo', 'bar', 'baz', 'qux', 'quux'})

True

In [47]:
#set x1 is considered a subset of another 
#set x2 if every element of x1 is in x2.

x2 = {'baz', 'qux', 'quux'}
x1 <= x2

False

In [48]:
#A set is considered to be a subset of itself:

x = {1, 2, 3, 4, 5}
x.issubset(x)

True

In [49]:
'''
A proper subset is the same as a subset, except that the sets 
canâ€™t be identical. A set x1 is considered a proper subset 
of another set x2 if every element of x1 is in x2, 
and x1 and x2 are not equal.

x1 < x2 returns True if x1 is a proper subset of x2:
'''

x1 = {'foo', 'bar'}
x2 = {'foo', 'bar', 'baz'}
x1 < x2

True

In [50]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}
x1 < x2

False

In [51]:
'''
A superset is the reverse of a subset. 
A set x1 is considered a superset of another set x2 
if x1 contains every element of x2.

x1.issuperset(x2) and x1 >= x2 return True 
if x1 is a superset of x2:
'''

x1 = {'foo', 'bar', 'baz'}
x1.issuperset({'foo', 'bar'})

True