In [1]:
a=10
type(a)

int

In [2]:
a='abc'
type(a)

str

In [3]:
a='10'
type(int(a))

int

In [6]:
a='10.10'
print(type(a))
type(float(a))

<class 'str'>

float

In [5]:
a=10
type(str(a))

str

In [7]:
#string display format
name='kumar'
age=34
print('My name is {},age is {}'.format(name,age))

My name is kumar,age is 34

In [ ]:
print('my name is {p}'.format(p='Raghu'))

%s - string
%d - digit
%r - Mask special characters

In [11]:
print('this %s'%('name'))
print('this %s is %s'%('name','Raghu'))

this name
this name is Raghu

In [16]:
#print('I'm going to %s' %('office'))
print("I'm going to %s" %('office'))

I'm going to office

In [18]:
print("I'm going to %s" %('office'))
print("I'm going to %r" %('%office'))

I'm going to office
I'm going to '%office'

In [19]:
print('I wrote %d programs today.' %3.75)

I wrote 3 programs today.

\t - tab space
\b - back space
\n - next line

In [27]:
print('my name is \thello')
print('I wrote %s programs today.'%'\tSQL')
print('I wrote %s programs today.'%'\t\tSQL')
print('my name is bingo\b')
print('my name is \nbingo')

my name is 	hello
I wrote 	SQL programs today.
I wrote 		SQL programs today.
my name is bingo
my name is
bingo